# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr

# Environment Variables
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# API Keys and Secrets
**/config/keys.json
**/config/secrets.json
**/*_key.json
**/*_keys.json
**/*_secret.json
**/*_secrets.json
**/*.key
**/*.pem
**/*.cert

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
